[Unit]
Description=FastAPI app
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/server/backend
Environment="PATH=/var/www/server/backend/.venv/bin"
ExecStart=/var/www/server/backend/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --log-level debug
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target